.max {
  width: 100%;
}

.m-b-1 {
  margin-bottom: 10px;
}

.animated {
  transition: all 0.2s ease-in-out;
}

.rotate-3deg {
  transform: rotate(-1deg);
}

.ta-center {
  text-align: center;
}

.content-center {
  justify-content: center;
}
